<footer class="page-footer">
	<div class="container">
		<div class="row">
			<div class="col-sm">a
				<img class="img-edit" src="assets/logo-2.png" alt="Site Logo" height="100px" width="100px">
				<div>Nothing to worry</div>
				<div class="gap1">
					<div id="heading">About Us</div> 
					<div id="text">this is just a demo website to learn MEAN Stack development</div>
				</div>
				<div class="gap1">
					<div id="heading">Contact Us</div> 
					<div id="text"><i class="fa fa-phone"></i>&nbsp;&nbsp; Phone</div>
					<div id="text"><i class="fa fa-envelope"></i>&nbsp;&nbsp; Email</div>
				</div>
			</div>
			<div class="col-sm">b
				<div class="column-2">
					<div id="heading">Information</div> 
					<div id="list">
						<ul>
							<li>1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm">c
				<div class="column-3">
					<div id="heading">More Links</div> 
					<div id="list">
						<ul>
							<li>1</li>
							<li>2</li>
							<li>3</li>
							<li>4</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="col-sm">d
				<div id="heading">Subscribe Now</div>
				<div id="entertext"><input type="text" placeholder="Email address"></div>
				<div id="buttonSN"><button type="submit">Subscribe Now</button></div>
				<!-- <div class="totop"><button id="Gototop"><i class="fa fa-arrow-up"></i></button></div>  -->
				<scroll-totop></scroll-totop>
			</div>
		</div>
	</div>
	<div class="footer-copyright">
		<div class="container">
			Designed by varun
		</div>
	</div>
</footer>