.page-footer{
    margin-top: 1rem;
    padding: 8rem;
}
.img-edit{
    margin: 0;
    padding: 0;
    max-width: 100%;
    height: auto;
}
.gap1{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.footer-copyright{
    border-top: 1px solid white;
}
