  <div class="one">Find us on &nbsp;
    <a class="a" href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>&nbsp;&nbsp;
    <a class="b" href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>&nbsp;&nbsp;
    <a class="c" href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
  </div>


  <nav class="navbar sticky-top navbar-expand-lg navbar-light">
      <a class="navbar-brand" routerLink="/home">
      <img src="assets/logo-2.png" width="30" height="30" class="d-inline-block align-top" alt="">LIVE &nbsp;
      <!-- Navbar -->
      </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link active" routerLink="/home">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/profile">Profile</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Menu
          </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/git-command-page">Git Commands</a>
          <a class="dropdown-item" routerLink="/bootstrap-command-page">BootStrap4</a>
          <a class="dropdown-item" routerLink="/angular-command-page">Angular</a>
          <a class="dropdown-item" routerLink="/docker-command-page">Docker</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
       <form class="form-inline my-1 my-lg-0">
         <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
         <button class="btn btn-outline-dark my-2 my-sm-0" type="submit">Search</button>
      </form>
    <div class="btn-group ml-4">
      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">USER
      </button>
        <div class="dropdown-menu dropdown-menu-right">
         <button class="dropdown-item" type="button" ><a [routerLink]="['/login']" > Login </a></button>
         <div class="dropdown-divider"></div>
         <button class="dropdown-item" type="button" ><a [routerLink]="['/register']" > Signup </a></button>
        </div>
    </div>
  </div>
</nav>

<!-- (click) = "handleClick()"
(click) = "handleClick()" -->